<a href="https://colab.research.google.com/github/allyracho/IST-Group-Assignments/blob/master/Copy_of_ExampleFinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Project Name


Created By:
*   Name
*   Name

### Project Description

Describe your project. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. 

Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words.

In [0]:
from IPython.display import IFrame
# https://drive.google.com/uc?export=view&id=xxxxxxxxxxxx
IFrame("https://drive.google.com/uc?export=view&id=14yIg88GXljP15rVNKbjDdY0tOv0R0V8N", 560, 315)

#### ER Diagram

![ER Diagram for Project - Movie Concessions](https://raw.githubusercontent.com/dudaspm/IST210/master/Introduction/Images/movieConcessions.png)

Describe your ER Diagram. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. 

Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words.

Describe how you created your database, specifically the data for the insert statements. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. 

Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words.

Create database and tables.

In [0]:
import sqlite3 # Once imported in a single notebook, it is available to us throughout the rest of the notebook. 
# connect to database, if not there, create it.
connectionToDatabase = sqlite3.connect('MovieConcessions') 
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Items''')
connectionToDatabase.commit()

cursor.execute('''create table Items (BARCODE text PRIMARY KEY, Name text, Cost real, Type text)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS Transactions''')
connectionToDatabase.commit()

cursor.execute('''create table Transactions (transactionID text PRIMARY KEY, Barcode text, DateTime text)''')
connectionToDatabase.commit()

Insert data into tables.

In [0]:
insertStatement =  """insert into Items values ('98723171', 'Mepsi Cola', 1.25, 'Drink')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Items values ('83231231', 'Foke Cola', 1.25, 'Drink')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Items values ('75351143', 'Hill Dew', 1.25, 'Drink')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Items values ('63532454', 'Snickest', 1.50, 'Candy')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Items values ('55234231', 'M&N&Os', .75, 'Candy')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Items values ('43423413', 'Pizza', 3.25, 'Food')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Items values ('34242312', 'Nachos', 450, 'Food')""" 
cursor.execute(insertStatement)

insertStatement =  """insert into Transactions values ('01', '43423413', '2019-11-15 12:12:12')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Transactions values ('02', '43423413', '2019-11-15 12:12:20')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Transactions values ('03', '98723171', '2019-11-15 12:12:23')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Transactions values ('04', '83231231', '2019-11-15 19:34:23')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Transactions values ('05', '63532454', '2019-11-15 19:34:25')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Transactions values ('06', '43423413', '2019-11-15 19:34:30')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Transactions values ('07', '98723171', '2019-11-15 19:40:03')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Transactions values ('08', '55234231', '2019-11-15 19:40:05')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Transactions values ('09', '55234231', '2019-11-15 19:41:30')""" 
cursor.execute(insertStatement)
connectionToDatabase.commit()

#### Checking my tables.

In [0]:
cursor.execute('''select * from Items''')
for row in cursor.fetchall():
  print (row)

In [0]:
cursor.execute('''select * from Transactions''')
for row in cursor.fetchall():
  print (row)

#### SQL Select Statements + Scenario

Scenario for an average user. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words.

Describe SQL Select Statement 1. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words.

In [0]:
cursor.execute('''select * from Items WHERE Cost > 2''')
for row in cursor.fetchall():
  print (row)

Describe SQL Select Statement 2. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words.

In [0]:
cursor.execute('''select * from Transactions WHERE DateTime Between "2019-11-15 18:00:00" AND "2019-11-15 22:00:00"''')
for row in cursor.fetchall():
  print (row)

Describe SQL Select Statement 3. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words. Words, words, words words.

In [0]:
cursor.execute('''select i.Name, i.Cost from Items i, Transactions t WHERE i.Barcode=t.Barcode  ''')
for row in cursor.fetchall():
  print (row)